= image_tag 'logo.png', :alt => SETTINGS["title"], :id => "logo"

= render "player"

%h1= SETTINGS["header"]

- if session[:download]

	%p Click below to start your download.
	
	= link_to "Download", download_path, :class => "button glow"
	
- else

	%p= SETTINGS["instructions"]
	
	- if logged_in("facebook")
	
		= link_to SETTINGS["facebook"]["button"], "#form", :class => "button", :rel => "facebox"
		
	- elsif logged_in("twitter")
	
		= link_to SETTINGS["twitter"]["button"], "#form", :class => "button", :rel => "facebox"
		
	- elsif logged_in("digg")
	
		= link_to SETTINGS["digg"]["button"], "#form", :class => "button", :rel => "facebox"
		
	-else
	
		= link_to image_tag("facebook.png", :alt => "Facebook", :border => 0), login_path("facebook"), :class => "button", :title => "Login with Facebook"
		
		= link_to image_tag("twitter.png", :alt => "Twitter", :border => 0), login_path("twitter"), :class => "button", :title => "Login with Twitter"
		
		= link_to image_tag("digg.png", :alt => "Digg", :border => 0), login_path("digg"), :class => "button", :title => "Login with Digg"
	
	= render "facebox" if session[:user]