= image_tag 'logo.png'

%div#player= "<object height='400' width='400'><param name='bgcolor' value='000000'></param><param name='movie' value='http://player.soundcloud.com/player.swf?url=#{Settings.config["track"]}#{Settings.config["params"]}'></param><param name='allowscriptaccess' value='always'></param><embed allowscriptaccess='always' height='400' src='http://player.soundcloud.com/player.swf?url=#{Settings.config["track"]}#{Settings.config["params"]}' type='application/x-shockwave-flash' width='400' bgcolor='000000'></embed></object>"

%h2= Settings.config["title"]

- if session[:download]

	%p Click below to start your download
	
	= link_to "Download", download_path, :class => "button glow"
	
- else

	%p= Settings.config["instructions"]
	
	- if logged_in("facebook")
		= link_to "Share to Download", "#form", :class => "button glow", :rel => "facebox"
	- elsif logged_in("twitter")
		= link_to "Tweet to Download", "#form", :class => "button glow", :rel => "facebox"
	-else
		= link_to image_tag("facebook.png", :alt => "Facebook", :border => 0), login_path("facebook"), :title => "Login with Facebook", :class => "button"
		= link_to image_tag("twitter.png", :alt => "Twitter", :border => 0), login_path("twitter"), :title => "Login with Twitter", :class => "button"
	
	- if session[:user]
	
		- @service = session[:user][:service]
		- @service == "facebook" ? @count = 420 : @count = 140

		%div#form{:style => "display:none"}

			- form_for "post", :url => posts_path do |f|

				= f.hidden_field :service, :value => @service

				%h3.fl= f.label :text, Settings.config[@service]["header"]
				%h3#count.fr= @count - Settings.config[@service]["status"].length

				%p.clear= f.text_area :text, :autocomplete => "off", :tabindex => "1", :onkeyup => "count(#{@count});", :onFocus => "count(#{@count});", :onBlur => "count(#{@count});", :value => Settings.config[@service]["status"]
			
				%div.fl= image_tag session[:user][:picture], :height => 25, :width => 25
				%div.fl{:style => "padding:5px 0 0 5px"}= "You're #{session[:user][:name]}"
				%div.fr
					= link_to "x", "#", :onclick => "$.facebox.close();"
					= f.submit "Submit"
				%div.clear