%div{:style => "text-align:center"}

	%h1 Logo

	%div [ player goes here ]
	
	%h2 Download "Scars on Broadway"
	
	%p Just click below to tell your Facebook or Twitter friends about Scars on Broadway
		
	- if logged_in("facebook")
		= link_to "Share to Unlock", "#form", :class => "button glow", :rel => "facebox"
	- elsif logged_in("twitter")
		= link_to "Tweet to Unlock", "#form", :class => "button glow", :rel => "facebox"
	-else
		= link_to image_tag("facebook.png", :alt => "Facebook", :border => 0), login_path("facebook"), :title => "Login with Facebook", :class => "button"
		= link_to image_tag("twitter.png", :alt => "Twitter", :border => 0), login_path("twitter"), :title => "Login with Twitter", :class => "button"

%div#form{:style => "display:none"}
	- form_for "post", :url => posts_path do |f|
	
		%h3= f.label :body, "Update"

		%p= f.text_area :body
			
		%p
			= f.submit "Submit"
			= link_to "Cancel", "#", :onclick => "$.facebox.close();"