= image_tag 'logo.png'

%div#player{:style => "width:#{SETTINGS["player"]["width"]}px"}= render :partial => "player"

-# %div#player{:style => "width:#{SETTINGS["player"]["width"]}px"}= image_tag 'artwork.jpg', :height => 400, :width => 400

%h2= SETTINGS["title"]

- if session[:download]

	%p Click below to start your download
	
	= link_to "Download", download_path, :class => "button glow"
	
- else

	%p= SETTINGS["instructions"]
	
	- if logged_in("facebook")
	
		= link_to "Share to Download", "#form", :class => "button glow", :rel => "facebox"
		
	- elsif logged_in("twitter")
	
		= link_to "Tweet to Download", "#form", :class => "button glow", :rel => "facebox"
		
	-else
	
		= link_to image_tag("facebook.png", :alt => "Facebook", :border => 0), login_path("facebook"), :title => "Login with Facebook", :class => "button"
		= link_to image_tag("twitter.png", :alt => "Twitter", :border => 0), login_path("twitter"), :title => "Login with Twitter", :class => "button"
	
	= render :partial => "facebox" if session[:user]