- if logged_in("facebook") || logged_in("twitter")

	%div#form

		= image_tag @user["picture"]
		= @user["name"]

		- form_for "post", :url => posts_path do |f|
	
			%h3= f.label :text, "Update"
			%h3#count 400

			%p= f.text_area :text, :rows => 4, :style => "width:100%", :autocomplete => "off", :tabindex => "1", :onkeyup => "count(400);", :onFocus => "count(400);", :onBlur => "count(400);"
			
			%p
				= f.submit "Submit"
				= link_to "Cancel", "#", :onclick => "$.facebox.close();"