!!! XHTML 1.0 Transitional
%html
	%head
		%title SoundCloud Social Download
		= stylesheet_link_tag 'application'
		= javascript_include_tag :defaults
	%body
	
		= "<p id='notice' style='color:green;'>#{flash[:notice]}</p>" if flash[:notice]

		= yield